<!-- <p>contact-us works!</p> -->
<div class="background">
  <div class="container">
    <div class="row">
      <div class="hidden-xs col-sm-12 col-md-12 col-lg-12 nopad">
        <picture>
          <source media="(min-width:1024px)" class="w-100" srcset="../../../../assets/images/contact-us/Desktop/contact-us.png">
          <source media="(min-width:280px)" srcset="../../../../assets/images/contact-us/Mobile/contact-us.png">
          <img class="d-block w-100" src="../../../../assets/images/contact-us/Desktop/contact-us.png"
              alt="Carmelita slide">
      </picture>

      </div>
    </div>
  </div>

  <div class="container mt-2 pt-2">
    <div class="row">
      <div class="col-sm">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3757.702677981074!2d-101.263303!3d19.640005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842d0b783c915f6f%3A0x5c1c769afef1ff72!2sAv.%20Curicaveri%20815%2C%20Co%C3%ADntzio%2C%20Mich.!5e0!3m2!1ses-419!2smx!4v1615999913040!5m2!1ses-419!2smx"
          width="400"
          height="400"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <div class="col-sm my-5 py-5">
        <div class="columns">
          <div class="column">
            <p class="buttons">
              <button class="button is-medium">
                <span class="icon">
                  <a href="tel:+524433200368"
                    ><i class="fas fa-phone fa-2x"></i
                  ></a>
                </span>
              </button>
            </p>
          </div>
          <div class="column">
            <p class="buttons">
              <button class="button is-medium">
                <span class="icon">
                  <a href="https://api.whatsapp.com/send?phone=+524432760389"
                    ><i class="fab fa-whatsapp fa-2x"></i
                  ></a>
                </span>
              </button>
            </p>
          </div>
          <div class="column">
            <p class="buttons">
              <button class="button is-medium">
                <span class="icon">
                  <a href="mailto:marketing@robemex.com"
                    ><i class="far fa-envelope fa-2x"></i
                  ></a>
                </span>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
