<!-- <p>navbar works!</p> -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="spacer"></div>
        <img src="../../../../assets/images/shared/navbar/logo/robemex.png" class="mt-2"  width="90" height="90"
                    alt="ROBEMEX">
        <div class="spacer"></div>
        <button mat-button>
            <a href="#" target="_blank"> <img src="../../../../assets/images/shared/navbar/languages/eua.png" width="30" height="30"
                    alt="Change to Spanish Version"> </a>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/']">Inicio</button>
    <button mat-menu-item [routerLink]="['nosotros']">Nosotros</button>
    <button mat-menu-item [routerLink]="['productos']">Productos</button>
    <button mat-menu-item [routerLink]="['catalogo']">Catálogo</button>
    <button mat-menu-item [routerLink]="['contacto']">Contacto</button>
</mat-menu>