<!-- <p>our-company works!</p> -->
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="../../../../assets/images/our-company/mision.png
                    " alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4 text-center">Misión</p>
                    </div>
                  </div>
              
                  <div class="content">
                    Elaborar el mejor Rompope y otras bebidas de sabores típicos mexicanos, con la más alta calidad y de manera artesanal contribuyendo en todo momento a rescatar los valores de la familia y la sana convivencia por medio de estas bebidas
                  </div>
                </div>
              </div> 
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="../../../../assets/images/our-company/vision.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4 text-center">Visión</p>
                </div>
              </div>
          
              <div class="content">
                Ser la empresa número uno del mundo en la elaboración y comercialización de Rompopes y Licores con sabores tradicionales mexicanos
              </div>
            </div>
          </div> 
        </div>
    </div>
</div>