<!-- <p>footer works!</p> -->
<footer id="footer" >
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-newsletter text-center"><a
                        href="http://www.alcoholinformate.org.mx/" target="_blank">
                        <h4>Evite el exceso</h4>
                    </a></div>
                <div class="col-lg-4 col-md-6 footer-newsletter text-center"> <a
                    [routerLink]="['/notice-of-privacy']" routerLinkActive="router-link-active">
                        <h4>Aviso de privacidad</h4>
                    </a></div>
                <div class="col-lg-4 col-md-6 footer-newsletter text-center"> <a
                        [routerLink]="['/terms-and-conditions']" routerLinkActive="router-link-active" >
                        <h4>Términos y condiciones</h4>
                    </a></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright"> &copy; Copyright <strong><span style="color:#ffffff;">ROBEMEX</span></strong>. Todos los derechos reservados</div>
    </div>
</footer>