<!-- <p>home works!</p> -->
<mdb-carousel class="carousel mt-5 slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
        <picture>
            <source media="(min-width:1024px)" class="w-100" srcset="../../../../assets/images/home/Desktop/1.png">
            <source media="(min-width:280px)" srcset="../../../../assets/images/home/Mobile/1.png">
            <img class="d-block w-100" src="../../../../assets/images/home/Desktop/1.png"
                alt="Carmelita slide">
        </picture>

    </mdb-carousel-item>
    <mdb-carousel-item>
        <picture>
            <source media="(min-width:1024px)" class="w-100" srcset="../../../../assets/images/home/Desktop/2.png">
            <source media="(min-width:280px)" srcset="../../../../assets/images/home/Mobile/2.png">
            <img class="d-block w-100" src="../../../../assets/images/home/Desktop/2.png"
            alt="Lo hacemos artesanal slide">
        </picture>
    </mdb-carousel-item>

</mdb-carousel>